body {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
}

#convite {
  margin: auto;
  width: 50%;
  border: 3px solid #ccc;
  padding: 10px;
}

button {
  cursor: pointer;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

#opcoes button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #c46c6c;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

#opcoes button:hover {
  background-color: #a14545;
  color: black;
}